<?xml version="1.0" encoding="UTF-8"?>

<!-- http://www.phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit
    backupGlobals="false"
    colors="true"
    processIsolation="false"
    stopOnFailure="false"
    bootstrap="tests/autoload.php">

    <testsuites>
        <testsuite name="Test Suite">
            <directory>tests/cases</directory>
        </testsuite>
    </testsuites>

    <source restrictDeprecations="true" restrictNotices="true" restrictWarnings="true">
        <include>
            <directory>src</directory>
        </include>
    </source>
</phpunit>
